@import "tailwindcss";

@plugin "@iconify/tailwind4" {
    prefixes: octicon;
}

@custom-variant dark {
    /* Enable dark mode when data-theme attribute = dark */
    &:where([data-theme="dark"], [data-theme="dark"] *) {
        @slot;
    }
    /* Enable dark mode when data-theme attribute = auto and prefers-color-scheme is dark */
    @media (prefers-color-scheme: dark) {
        &:where([data-theme="auto"], [data-theme="auto"] *) {
            @slot;
        }
    }
}

@theme {
    --color-primary: var(--color-blue-500);

    /* Text colors */
    --color-em-high-light: rgba(0, 0, 0, 0.87);
    --color-em-high-dark: rgba(255, 255, 255, 0.87);
    --color-em-high: var(--color-em-high-light);

    --color-em-med-light: rgba(0, 0, 0, 0.6);
    --color-em-med-dark: rgba(255, 255, 255, 0.6);
    --color-em-med: var(--color-em-med-light);

    --color-em-disabled-light: rgba(0, 0, 0, 0.38);
    --color-em-disabled-dark: rgba(255, 255, 255, 0.38);
    --color-em-disabled: var(--color-em-disabled-light);

    /* Bg colors */
    --color-neutral-light: var(--color-white);
    --color-neutral-dark: var(--color-neutral-900);
    --color-neutral: var(--color-neutral-light);
    --color-neutral-light-2: var(--color-neutral-100);
    --color-neutral-dark-2: var(--color-neutral-800);
    --color-neutral-2: var(--color-neutral-light-2);
    --color-neutral-light-3: var(--color-neutral-200);
    --color-neutral-dark-3: var(--color-neutral-700);
    --color-neutral-3: var(--color-neutral-light-3);

    /* Border colors */
    --color-edge-light: rgba(0, 0, 0, 0.2);
    --color-edge-dark: rgba(255, 255, 255, 0.2);
    --color-edge: var(--color-edge-light);
}

@layer base {
    @variant dark {
        --color-em-high: var(--color-em-high-dark);
        --color-em-med: var(--color-em-med-dark);
        --color-em-disabled: var(--color-em-disabled-dark);

        --color-neutral: var(--color-neutral-dark);
        --color-neutral-2: var(--color-neutral-dark-2);
        --color-neutral-3: var(--color-neutral-dark-3);

        --color-edge: var(--color-edge-dark);
    }
    html {
        color: var(--color-em-high);

        @apply dark:[color-scheme:dark];
    }
    * {
        border-color: var(--color-edge);
    }
}

@utility btn-ghost-hover {
    @apply bg-neutral-300/80 dark:bg-neutral-700/80;
}
@utility btn-ghost-active {
    @apply bg-neutral-400/80 dark:bg-neutral-600/80;
}
@utility btn-ghost {
    &:hover {
        @apply btn-ghost-hover;
    }
    &:active {
        @apply btn-ghost-active;
    }
    @apply transition-colors duration-100 ease-in-out;
}
@utility btn-ghost-visible {
    @apply btn-ghost-hover;
    &:active {
        @apply btn-ghost-active;
    }
}

@utility btn-primary {
    @apply bg-primary text-white;
    &:hover {
        @apply bg-blue-600;
    }
    &:active {
        @apply bg-blue-700;
    }
    @apply transition-colors duration-100 ease-in-out;
}

.png-bg {
    background: url("/png.gif") right bottom var(--color-gray-300);
}
